<% question = attempt.question %>

<div class="quiz-area">
	<div class="quiz-question-area">
		<div class="question-area">
			<span class="question-text-new"><%= markdown question.question_text %></span><br />
			<%= image_tag(question.question_image_url) if question.question_image? %>

		</div>
		<div class="answer-area">
			<%= render "questions/response_box", attempt: attempt%>
			<div id="hint-box_<%=question.id%>">
				<div class="show-hint" data-toggle="collapse" data-target="#hint_<%=question.id%>">
					<i class="icon-question-sign"></i>
	        I don't know. Give me a hint!
	      </div>
	      <div id="hint_<%=question.id%>" class="hint collapse">
	      	<%= question.hint %>
	      </div>
	    </div>
	    <hr />
	    <div class="question-data">
	    	<div class="question-counter">
	    		Question <%=attempt_counter + 1%> of <%=@questions.count%>
	    	</div>
	    	Difficulty: <%= question.difficulty_level %><br />
	    	Points Possible: <%= question.possible_points %><br />
	    	Skills Tested:<br />
	    	<% question.skills.each do |s| %>
	    		<%= s.description %>
	    	<% end %>
			</div>
		</div>
	</div>
	
</div>


