<section class="question-box">
	<div id="question_<%=@question.position%>">
		<div class="user-avatar">
			<%= image_tag @course.user.avatar_url(:profile) %><br />
			<% if @course.user.name %>
				<%= @course.user.name %> says:
			<% else %>
					<%= @course.user.username %> says:
			<% end %>
		</div>
		<div class="prompt">
			<h3><%= raw @question.prompt %></h3>
		</div>
		<div class="answer-box">
			<%= render 'answer' %>
			</div>
	</div>
</section>