<section class="lesson-box">
	<div class="question-section"id="question_<%=@question.position%>">
		<div class="user-avatar">
			<%= image_tag @course.user.avatar_url(:profile) %><br />
			<% if @course.user.name %>
				<%= @course.user.name %> says:
			<% else %>
					<%= @course.user.username %> says:
			<% end %>
		</div>
		<div class="prompt">
			<h3><%= raw @question.prompt %></h3>
		</div>
		<div class="question">
			<h4><%= raw @question.content %></h4>
			<div id="check_answer_<%=@question.id%>" class="submit-tag">
				<%= form_tag({action: 'check', controller: 'questions', id: @question.id}) do %>
				<%= text_area_tag :response, "Enter your answer" %><br />
					<%= submit_tag("Submit Answer", class:'btn btn-large') %><br />
					<% end %>	
					<a href="#hint" role="button" class="hint-text" data-toggle="modal"> I don't know. Show me a hint </a>
					<div class="modal" id="hint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel"><%= @question.objective %></h3>
					</div>
					<div class="modal-body">
						<p><%= @question.hint %></p>
					</div>
					<div class="modal-footer">
						<%= link_to 'Read Lesson Notes', @lesson.document_url, target: '_blank' %> |
						<%= link_to 'Watch Video', @lesson.video_source, target: '_blank' %>
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					</div>					
				</div>
			</div>
	</div>
</section>