<%= simple_form_for @question do |f| %>
  <%= f.input :course_id, as: :hidden, input_html: {value:params[:course_id]} %>
  <%= f.input :lesson_id, as: :hidden, input_html: {value:params[:lesson_id]} %>
  <h4>Choose a question type </h4><br />
  <%= f.select :question_type, Question::QUESTION_TYPES, {}, :class => "input-xlarge" %>
  <hr />
  <h4>Write the Prompt </h4>
  <%= f.input :prompt, input_html: {class: "input-xxlarge", rows:5}, label:"Prompt", hint: "Be brief & conversational" %>
  <p class="muted"><%= render "shared/markdown_tip" %></p>< hr/>
  <h4>Include Content (video and notes)? </h4><br />
  <%= f.input :content, label: "Check the box if you want to include content block at the end of the prompt" %><br />
  <%= f.input :video_start, label: "Enter the time in seconds after video starts that you'd like video clip to BEGIN." %><br />
  <%= f.input :video_end, label: "Enter the time in seconds after video starts that you'd like video clip to END." %><br />
  <hr />
  <h4>Write the Question Text </h4>
  <%= f.input :question_text, input_html: {class: "input-xxlarge", rows:5}, label:"Prompt", hint: "Keep it short" %>
  <p class="muted"><%= render "shared/markdown_tip" %></p>
  <h4> Enter Answers </h4>
  <div class="answer-list">
    <%= f.simple_fields_for :answers do |builder| %>
      <%= render 'answer_fields', f: builder %>
    <% end %>
  </div>
  <p>
    <%= link_to_add_fields "Add Answer", f, :answers %>
  </p>
  <h4>Write the first hint </h4>
  <%= f.input :first_hint, input_html: {class: "input-xxlarge", rows:5}, hint: "Shown after first attempt" %>
  <p class="muted"><%= render "shared/markdown_tip" %></p>
  <p>
  <%= f.input :second_hint, hint: "Shows after 2nd attempt", input_html: {class: "input-xxlarge", rows:5} %>
  <p class="muted"><%= render "shared/markdown_tip" %></p>
  <%= f.input :explanation, label: "Enter answer explanation", input_html: {class: "input-xxlarge", rows:5} %>
  <p class="muted"><%= render "shared/markdown_tip" %></p>
  <%= f.button :submit, "Save Question", class: "btn btn-primary" %>
<% end %>
