<div class="question-box">
	<div id="question_<%=@question.position%>">
		<div class="user-avatar">
			<%= image_tag @course.user.avatar_url(:profile) %><br />
			<% if @course.user.name %>
				<%= @course.user.name %> says:
			<% else %>
				<%= @course.user.username %> says:
			<% end %>
		</div>
		<div class="prompt">
			<h3><%= raw @question.prompt %></h3>
		</div>
	</div>
	<div id="check_answer_<%=@question.id%>" class="submit-tag">
		<% if current_user && current_user.has_answered?(@question) %>
		You have correctly answered this question. 
		<%= link_to 'You can answer it again', question_attempt_path(@question), method: :delete %> or <%= link_to 'move on to the next question', @question.next_question %>
		<% else %>
			<%= form_tag({action: 'check', controller: 'questions', id: @question.id}, remote: true) do %>
				<%= text_area_tag :response, "Enter your answer" %><br />
				<%= submit_tag("Submit Answer", class:'btn btn-large') %><br />
			<% end %>					
		<% end %>
		<div id="hint"><%= link_to 'Show me a hint', '#' %></div>			
	</div>
</div>

