<div class="quiz-questions">
	<div id="check-<%=question.id%>">
		Question <%=question_counter%> of <%=@questions.count%> | Score: XXX
		<hr />
		<span class="question-text"><%= markdown question.question_text %></span><br />
		<%= render "questions/response_box", question: question%>
	</div>
</div>




