<div class="question-box">
  <div id="check-<%=@question.id%>">
    <span class="question-text"><%= @question.question_text %></span><br /><hr />
    <% if current_user && current_user.has_answered?(@question) %>
      You have correctly answered this question.
      <%= link_to 'You can answer it again', question_attempt_path(@question), method: :delete %>
      <% if @question.next_question %>
        or <%= link_to 'move on to the next question', @question.next_question %>
      <% end %>
    <% else %>
       <%= render "questions/response_box" %>
    <% end %>
  </div>
</div><br />
<div id="show-question">
  <h3>Show /Hide Question</h3>
</div>