<% if @question.is_multiple_choice? %>
    <div id="check_answer_<%=@question.id%>" class="answers">
      <%= form_tag({action: 'check', controller: 'questions', id: @question.id}, remote: true) do %>
        <% @question.answers.each do |answer| %>
          <label class="radio"><%= radio_button_tag 'response', answer.content %> <%= answer.content %></label><br/>
        <% end %>
      <%= submit_tag("Submit", class:'btn') %><br />
      <% end %>
    </div>
<% else %>
    <div id="check_answer_<%=@question.id%>" class="submit">
      <%= form_tag({action: 'check', controller: 'questions', id: @question.id}, remote: true) do %>
        <%= text_area_tag :response, "Enter your answer", rows: 2 %><br />
        <%= submit_tag("Submit", class:'btn') %><br />
      <% end %>
    </div>
<% end %>
<div id="show-hint", data-toggle="collapse", data-target="#hint-container">
  <i class="icon-question-sign"></i>
  I don't know. Give me a hint!
</div>
<div id="hint-container" class="collapse">
  <%= @question.hint %>
</div>


