<% if question.is_multiple_choice? %>
    <div id="check_answer_<%=question.id%>" class="answers">
      <%= form_tag({action: 'check', controller: 'questions', id: question.id}, remote: true) do %>
        <% question.answers.each do |answer| %>
          <label class="radio"><%= radio_button_tag 'response', answer.content %> <%= answer.content %></label><br/>
        <% end %>
      <%= submit_tag("Submit Answer", class:'btn') %><br />
      <% end %>
    </div>
<% else %>
    <div id="check_answer_<%=question.id%>" class="submit">
      <%= form_tag({action: 'check', controller: 'questions', id: question.id}, remote: true) do %>
        <%= text_area_tag :response, "Enter your answer", rows: 2 %><br />
        <%= submit_tag("Submit Answer", class:'btn') %><br />
      <% end %>
    </div>
<% end %>
<div id="hint-box_<%=question.id%>">
  <div class="show-hint" data-toggle="collapse" data-target="#hint_<%=question.id%>">
    <i class="icon-question-sign"></i>
    I don't know. Give me a hint!
  </div>
  <div id="hint_<%=question.id%>" class="hint collapse">
    <%= question.hint %>
  </div>
</div>
<div id="response"></div>


