<% question = attempt.question %>

  <%= simple_form_for( [@quiz, attempt], remote: true) do |f| %>
    <%= f.input :question_id, as: :hidden %>
    <% if question.is_multiple_choice? %>
      <div class="quiz-response"> Select Answer: </div>
      <%= f.input :response, collection: question.answers, as: :radio_buttons, label_method: :content, value_method: :content, label: false, class: 'quiz-response' %>
    <% else %>
      <%= f.input :response, label: false, placeholder: 'Enter your response', input_html: {class: "quiz_response_form"} %>
    <% end %>
      <div id ="response-box-<%=question.id%>">
        <%= f.button :submit, "Submit Answer", class: 'btn btn-large btn-quiz' %>
      </div>
  <% end %>




