<% provide(:title, @question.objective) %>
<section>
<%= render 'course_info' %>
<h2><%= @lesson.title %></h2>
<%= render 'shared/question_nav' %>
<%= render 'prompt' %>
<%= render 'shared/resources' %>
</section>
