<div class="intro">
	<div class="start">
		<%= link_to @course.title, course_path(@course) %> | <%= @lesson.title%> | Practice 
  </div>
</div><br />
<h2> Your Results </h2>
<div class="course-progress-stats">
	<div class="progress-stat">
		<h3 class="progress-number"><%= @quiz.score.round(0) %>%</h3>
		<p class="progress-description">quiz score</p>
	</div>
	<div class="progress-stat">
		<h3 class="progress-number"><%= @quiz.correct_questions %></h3>
		<p class="progress-description">correct answers</p>
	</div>
	<div class="progress-stat">
		<h3 class="progress-number"><%= @quiz.incorrect_questions %></h3>
		<p class="progress-description">incorrect answers</p>
	</div>
	<div class="progress-stat">
		<h3 class="progress-number"><%= @quiz.total_points_earned.round(0) %></h3>
		<p class="progress-description">points earned</p>
	</div>
</div>

<hr />
<h2> Review </h2>

<% @attempted_questions.each do |q| %>
	<div class="quiz-review-box">
		<% a = q.last_attempt(@quiz) %>
		<h4><%= markdown q.question_text %></h4><br />
		Correct Answer: <%= q.correct_answers %><br />
		Your Answer: <%= a.response %><br />
		Points Earned: <%= a.calculate_score.round(0) %><br />
		<%= link_to "Review Solution", '#', class: "btn" %><br />
	</div>
<% end %>

<%= link_to "Return to course page", course_path(@course), class: 'btn btn-primary' %>

