<div class="intro">
	<div class="start">
		<%= link_to @course.title, course_path(@course) %> | <%= @lesson.title%> | Practice 
  </div>
</div><br />
<div class="results">
	<h2> Your Results </h2>
	<h3> <%= @quiz.correct_questions %> Correct |
	<%= @quiz.incorrect_questions %> Incorrect |
	Score: <%= @quiz.try(:score).round(0) %> % |
	Points Earned: <%= @quiz.total_points_earned.round(0) %> </h3> <br />
</div>

<hr />
<h2> Review </h2>

<% @attempted_questions.each do |q| %>
	<div class="quiz-review-box">
		<% a = q.last_attempt(@quiz) %>
		<h4><%= markdown q.question_text %></h4><br />
		Correct Answer: <%= q.correct_answers %><br />
		Your Answer: <%= a.response %><br />
		Points Earned: <%= a.calculate_score.round(0) %><br />
		<%= link_to "Review Solution", '#', class: "btn" %><br />
	</div>
<% end %>


