<div class="intro">
	<div class="start">
		<%= link_to @course.title, course_path(@course) %> | <%= @lesson.title%> | Practice 
  </div>
</div><br />
<h2> Your Results </h2>
<h3> <%= @quiz.correct_questions %> Correct |
<%= @quiz.incorrect_questions %> Incorrect |
Score: <%= @quiz.try(:score).round(0) %> %</h3> <br />

<hr />
<h2> Review </h2>

<% @unique_attempts.each do |a| %>
	<h4><%= markdown a.question.question_text %></h4><br />
	Correct Answer: <%= a.question.correct_answers %> <br />
	Your Answer: <%= a.response %>, <%= a.status %> <br />
	<%= link_to "Review Solution Video", '#', class: "btn" %><br /><hr />
<% end %>