<%= provide(:title, 'Quiz' + @quiz.id.to_s) %>

<div class="intro">
	<div class="start">
		<%= link_to @course.title, course_path(@course) %> | Practice: <%= @lesson.title%><br />
	</div> 
</div>

	<%= render partial: 'questions/attempt', collection: @attempts %>


<%= link_to finish_quiz_path(@quiz), class: "btn btn-success" do %>
	<i class="icon-thumbs-up"></i>
	Finish Quiz
<% end %>