<%= provide(:title, 'Admin') %>

<h2><%= link_to "Manage Courses", admin_courses_path %></h2>
<h2><%= link_to "Manage Categories", categories_path %></h2>
<h2><%= link_to "Manage Users", users_path %></h2>
<h2><%= link_to "Manage Grade Levels", '#' %></h2>

