<% provide(:title, 'Edit User Profile') %>

<h2> Edit Your Profile</h2>
<div class="box_profile">


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>
  <h3> Basic Information (required) </h3><br />

    <%= f.input :fname, label: "First Name" %>
    <%= f.input :lname, label: "Last Name" %>
    <%= f.input :email, :required => true %>
    <hr />

    <h3> Complete Your Profile</h3><br />
    <%= f.input :avatar %>
    <%= f.input :location %>
    <%= f.input :about, label: "About Me", hint: "Add a bit of info about yourself", input_html: {class: "input-xxlarge", rows:5} %>
    <hr />
    <% if f.object.encrypted_password.present? %>
        <h3> Confirm Changes </h3><br />
        <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
        <%= f.input :password_confirmation, :required => false %>
        <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
    <% end %>

    <%= f.button :submit, "Update", class: "btn btn-large btn-primary"%>
<% end %>
<hr />

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
</div>
