<%= provide(:title, 'Your Courses') %>

<h2> Courses in Progress: </h2>
<div>
  <% @user.enrolled_courses.each do |course| %>
  <div id = "leave-course-<%=course.id%>">
    <%= link_to course.title, course_path(course) %><br />
    Progress: <%= @user.progress(course) %> percent complete.<br />
    <%= simple_form_for(current_user.enrollments.find_by_enrolled_course_id(course.id), html: {method: :delete}, remote:true) do |f| %>
      <%= f.button :submit, "Leave course", class: 'btn btn-danger' %>
    <% end %>
  </div>
  <hr />
  <% end %>
</div>


<h2> Courses Completed: </h2>

<% if @user.courses.any? %>

<h2> You're Teaching: </h2>
<% @user.courses.each do |course| %>
  <%= link_to course.title, manage_course_path(course) %> |
  Status: <%= course.status %><br />
<% end %>

<% end %>