<% provide(:title, @user.fname) %>

<h3><%=@user.fname%>'s Profile </h3><br />

<div class="box_profile">
	<p>
	  <%= image_tag @user.avatar_url(:profile) %><br />
	  <span class="profile-heading">Location:</span><br />
	   <%= @user.location %><br />
	   <span class="profile-heading">About:</span><br />
	    <%= @user.about %><br />
	</p>
</div>

<%= link_to "Edit Your Profile and Settings", edit_user_registration_path(@user) if @user == current_user %>
