<h2> Add A Video Clip </h2>
<%= simple_form_for @video do |f| %>
	<%= f.input :lesson_id, as: :hidden, input_html: {value: params[:lesson_id]} %>
	<h3>Add YouTube Clip (URL)</h3>
	<%= f.input :url, input_html: {class: "input-xxlarge"}, label: "Add URL" %>
	<h3>Add Video Clip Start Time</h3>
	<%= f.input :start_time, label:"Enter the time in seconds after video starts that you'd like video clip to BEGIN." %>
	<h3>Add Video Clip End Time</h3>
		<%= f.input :end_time, label:"Enter the time in seconds after video starts that you'd like video clip to BEGIN." %>
	<h3> Add Video Clip Transcript</h3>
	<%= f.input :transcript, input_html: {class: "input-xxlarge", rows:5}, label: "Enter the text transcript" %>
	<p class="muted"><%= render "shared/markdown_tip" %></p>

	<%= f.button :submit, "Save Video Clip", class: "btn btn-primary" %>

<% end %>