<% user = current_or_guest_user %>
<div class="lesson-navigation">
	<span class="lesson-title">
		Learning: <%= @lesson.title %>
	</span>
	<span class="nav-lesson-links">
		<a data-toggle="collapse" href="#topics">Topics & Questions</a>
	</span>
</div>

<ol id="topics" class="collapse">
	<div class="lesson-items">
	<% @activities.order(:position).each do |a| %>
	<li>
		<% if a.activity_type == 'Concept' %>
			<% c = Concept.find(a.activity_id) %>
			<%= link_to lesson_activity_path(a), title: c.title do %>
				<i class="icon-play-circle icon-2x icon-concept"></i>
			<% end %>
		<% else %>
			<% question = Question.find(a.activity_id) %>
			<% if question.correct_attempt?(user) %>
				<%= link_to lesson_activity_path(a) do %>
					<i class="icon-check icon-2x icon-question-correct"></i>
				<% end %>
			<% elsif question.attempted_by?(user) %>
				<%= link_to lesson_activity_path(a) do %>
					<i class="icon-check-empty icon-2x icon-question-incorrect"></i>
				<% end %>
			<% else %>
				<%= link_to lesson_activity_path(a) do %>
					<i class="icon-check-empty icon-2x icon-question-unattempted"></i>
				<% end %>
			<% end %>
		<% end %>
	</li>
	<% end %>
</div>
</ol>


