<% if current_user %>
  <div class="new_comment" %>
    <%= simple_form_for @comment do |f| %>
    <% if @activity %>
      <%= f.input :concept_id, as: :hidden, input_html: { value: @activity.activity_id} %>
    <% else %>
    	<%= f.input :concept_id, as: :hidden, input_html: { value: params[:concept_id]} %>
    <% end %>
      <%= f.input :parent_id, as: :hidden, input_html: { value: params[:parent_id]} %>
      <%= f.input :content, input_html: {class: "input-xxlarge", rows:5}, label: "Ask A Question", placeholder: "Enter your question" %>
      <%= f.button :submit, "Save Question", class: 'btn' %>
    <% end %>
  </div>
<% else %>
  <%= link_to 'Sign in to ask a question', new_user_session_path %>
<% end %>
