<div class="course-top-nav">
	<div class="nav-course-title"><%= @course.title %></div>
	<div class="nav-course-links">
	  <%= link_to "About the Course", course_path(@course) %> |
	  <%= link_to "Learn", course_lessons_path(@course) %> |
	  <%= link_to "Practice", tests_course_path(@course) %> |
	  <%= link_to "Ask a Question", '#' %> |  
	  <%= link_to "Your Progress", progress_course_path(@course) %>
	</div>
</div>