<div class="row">
  <div class="span1 author-image">
    <%= image_tag @course.user.avatar_url(:profile) %><br />
    <div class="byline"><%= @course.user.username.capitalize %></div> 
  </div>
  <div class="span9 prompt">
    <%= markdown @question.prompt %><br />
    <div id="resources">
      You can [watch a video] or [read notes]. When you're ready to move on, answer the question below:
    </div>
  </div>
</div>

<div class="question-box">
  <div id="check-<%=@question.id%>">
    <% if current_user && current_user.has_answered?(@question) %>
      You have correctly answered this question.
      <%= link_to 'You can answer it again', question_attempt_path(@question), method: :delete %>
      <% if @question.next_question %>
        or <%= link_to 'move on to the next question', @question.next_question, :class => "qustion-pjax" %>
      <% end %>
    <% else %>
       <%= render "questions/question" %>
    <% end %>
  </div>
</div>
<hr/>
<div class="row-fluid">
  <div class="span12">
    <div class="progress progress-success">
      <div class="bar" style="width:<%= @question.position / @question.lesson.questions.count.to_f * 100  %>%;">

      </div>
    </div>
  </div>
</div>


