<div class="row">
  <div class="span1 author-image">
    <%= image_tag @course.user.avatar_url(:profile) %><br />
    <div class="byline">
      <%= @course.user.username.capitalize %>
    </div> 
  </div>
  <%= content_tag "div", class: "span9 prompt", data: { hint1: @question.first_hint, hint2: @question.second_hint} do %>
    <%= markdown @question.prompt %><br />
    <% if @question.content %>
      <div id="resources">
        <a href="#videoModal" role="button" class="btn btn-primary" data-toggle="modal">Watch a Video</a> or 
        <a href="#docModal" role="button" class="btn btn-primary" data-toggle="modal">Read Notes</a>
        <div class="modal" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="videoModal">Video: <%=@lesson.title %></h3>
          </div>
          <div class="modal-body">
            <iframe width="640" height="360" src="<%=@lesson.video_source%>" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
        <div class="modal" id="docModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="docModal">Video: <%=@lesson.title %></h3>
          </div>
          <div class="modal-body">
            <%= raw @lesson.document.display_ipaper %>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div><br />
        <p> When you're ready to move on, answer the question below</p>
      </div>
    <% end %>
  <% end %>
</div>


<div class="question-box">
  <div id="check-<%=@question.id%>">
    <% if current_user && current_user.has_answered?(@question) %>
      You have correctly answered this question.
      <%= link_to 'You can answer it again', question_attempt_path(@question), method: :delete %>
      <% if @question.next_question %>
        or <%= link_to 'move on to the next question', @question.next_question, :class => "qustion-pjax" %>
      <% end %>
    <% else %>
       <%= render "questions/response_box" %>
    <% end %>
  </div>
</div>
<hr/>
<div class="row-fluid">
  <div class="span12">
    <div class="progress progress-success">
      <div class="bar" style="width:<%= @question.position / @question.lesson.questions.count.to_f * 100  %>%;">
      </div>
    </div>
  </div>
</div>


