<div class="question-box">
  <%= render 'shared/question_nav' %>
  <div id="check-<%=@question.id%>">
    <div class="prompt">
      <%= markdown @question.prompt %>
    </div>
    <% if current_user && current_user.has_answered?(@question) %>
      You have correctly answered this question. 
      <%= link_to 'You can answer it again', question_attempt_path(@question), method: :delete %> or <%= link_to 'move on to the next question', '#' %>
    <% elsif @question.is_multiple_choice? %>
      <div id="check_answer_<%=@question.id%>" class="answers">
        <%= form_tag({action: 'check', controller: 'questions', id: @question.id}, remote: true) do %>
          <% @question.answers.each do |answer| %>
            <label class="radio"><%= radio_button_tag 'response', answer.content %> <%= answer.content %></label><br/>
          <% end %>
        <%= submit_tag("Check Answer", class:'btn') %><br />
        <% end %>    
      </div>
    <% else %>
      <div id="check_answer_<%=@question.id%>" class="submit">
        <%= form_tag({action: 'check', controller: 'questions', id: @question.id}, remote: true) do %>
          <%= text_area_tag :response, "Enter your answer" %><br />
          <%= submit_tag("Check Answer", class:'btn') %><br />
        <% end %>    
      </div>      
    <% end %>
    <div id="show-hint">
      <%= link_to 'javascript:void(0)', "data-toggle" => "collapse", "data-target" => "#hint-container" do %>
         <i class="icon-question-sign"></i>
         Show Me a Hint
      <% end %>
    </div>
    <div id="hint-container" class="collapse"><div id="hint">
      <%= @question.hint %></div>
    </div>
  </div>
  <hr/>
  <div class="row-fluid">
    <div class="span2">
      <%= link_to @question.prev_question, :class => "btn qustion-pjax pull-left" do %>
        <i class="icon-circle-arrow-left"></i>
        Prev
      <% end if @question.prev_question %>
    </div>
    <div class="span8">
      <div class="progress progress-success">
        <div class="bar" style="width:<%= @question.position / @question.lesson.questions.count.to_f * 100  %>%;"></div>
      </div>
    </div>
    <div class="span2">
      <%= link_to @question.next_question, :class => "btn qustion-pjax pull-right" do %>
        <i class="icon-circle-arrow-right"></i>
        Next
      <% end if @question.next_question %>
    </div>
  </div>
</div>

