<div class="prompt">
  <div class="author-image">
    <%= image_tag @course.user.avatar_url(:profile) %><br />
  </div>
<br />
  <%= markdown @question.prompt %><br />
  <div id="resources">
    You can [watch a video] or [read notes]. When you're ready to move on, answer the question below:
  </div>
</div>
<div class="question-box">
  <div id="check-<%=@question.id%>">
    <% if current_user && current_user.has_answered?(@question) %>
      You have correctly answered this question.
      <%= link_to 'You can answer it again', question_attempt_path(@question), method: :delete %>
      <% if @question.next_question %>
        or <%= link_to 'move on to the next question', @question.next_question, :class => "qustion-pjax" %>
      <% end %>
    <% else %>
       <%= render "questions/question" %>
    <% end %>
  </div>
</div>
<hr/>
<div class="row-fluid">
    <div class="span2">
      <%= link_to @question.prev_question, :class => "btn qustion-pjax pull-left" do %>
        <i class="icon-circle-arrow-left"></i>
        Prev
      <% end if @question.prev_question %>
    </div>
    <div class="span8">
      <div class="progress progress-success">
        <div class="bar" style="width:<%= @question.position / @question.lesson.questions.count.to_f * 100  %>%;"></div>
      </div>
    </div>
    <div class="span2">
      <%= link_to @question.next_question, :class => "btn qustion-pjax pull-right" do %>
        <i class="icon-circle-arrow-right"></i>
        Next
      <% end if @question.next_question %>
    </div>
  </div>
</div>

