<div class="question-box">
  <%= render 'shared/question_nav' %>
  <div id="check-<%=@question.id%>">
    <div class="prompt">
      <%= markdown @question.prompt %>
    </div>
    <% if current_user && current_user.has_answered?(@question) %>
      You have correctly answered this question.
      <%= link_to 'You can answer it again', question_attempt_path(@question), method: :delete %>
      <% if @question.next_question %>
        or <%= link_to 'move on to the next question', @question.next_question, :class => "qustion-pjax" %>
      <% end %>
    <% else %>
       <%= render "questions/question" %>
    <% end %>
  </div>
  <hr/>
  <div class="row-fluid">
    <div class="span12">
      <div class="progress progress-success">
        <div class="bar" style="width:<%= @question.position / @question.lesson.questions.count.to_f * 100  %>%;"></div>
      </div>
    </div>
  </div>
</div>

