<% question = Question.find(@activity.activity_id) %>
<% user = current_or_guest_user %>

<div class="activity-question">
	<div class="question-area-large">
    <% if question.correct_attempt?user %>
      <div class="already-answered">
        You have already answered this question correctly. You can try it again!
      </div>
    <% end %>
    <div class="question-text">
      <%= markdown question.question_text %>
      <%= image_tag question.question_image_url(:quiz) if question.question_image? %>
    </div>
    <div class="answer-area">
      <%= simple_form_for(@attempt, remote: true) do |f| %>
        <%= f.input :question_id, as: :hidden, input_html: {value: question.id} %>
        <% if question.is_multiple_choice? %>
          <div class="quiz-response"> Select Response</div>
            <%= f.input :response, collection: question.answers, as: :radio_buttons, label_method: :content, value_method: :content, label: false, class: 'quiz-response' %>
        <% else %>
          <%= f.input :response, label: false, placeholder: 'Enter your response', input_html: {class: "quiz_response_form"} %>
        <% end %>
        <div id ="response-box-<%=question.id%>">
          <%= f.button :submit, "Submit Answer", class: 'btn btn-large btn-quiz' %>
        </div>
      <% end %>
      <div id="hint-box_<%=question.id%>">
        <div class="show-hint" data-toggle="collapse" data-target="#hint_<%=question.id%>">
          <i class="icon-question-sign"></i>
          I don't know. Give me a hint!
        </div>
        <div id="hint_<%=question.id%>" class="hint collapse">
          <%= markdown question.hint %>
        </div>
      </div>
      <hr />
      <%= render 'solution', question: question %>
      <div class="question-data">
        Difficulty: <%= question.difficulty_level %><br />
        Points Possible: <%= question.possible_points %><br />
        <div class="skills">Skills Tested:</div>
        <% question.skills.each do |s| %>
          <%= s.description %><br />
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'lesson_nav' %>
</div>

