<%= render 'shared/lesson_intro' %>
<div class="content-box">
	<% if @lesson_item.type == 'Video' %>
		<%= render 'show_video' %>
	<% elsif @lesson_item.type == 'Ask' %>
		<%= render 'show_ask' %>
	<% end %>
</div>

<div class="lesson-nav">
	<% if @lesson_item.prev_item %>
		<%= link_to @lesson_item.prev_item, class: "btn btn-large btn-primary" do  %>
			<i class="icon-circle-arrow-left"></i>
			Previous
		<% end %>
	<% end %>
	<% if @lesson_item.next_item %>
		<%= link_to @lesson_item.next_item, class: "btn btn-large btn-primary btn-next" do  %>
			<i class="icon-circle-arrow-right"></i>
			Next
		<% end %>
	<% end %>
	<% if @lesson_item.last? %>
		<%= link_to finish_course_lesson_path(id:@lesson.id, course_id:@course.id), class: "btn btn-large btn-success btn-next" do  %>
			<i class="icon-thumbs-up"></i>
			Complete Lesson
		<% end %>
	<% end %>
	<br />
</div>