<h3> Video Clips </h3><br />
<ul>
  <% @lesson.videos.order(:position).each do |video| %>
    <%= content_tag_for :li, video do %>
    <h3><span class="handle">[move]</span>
      <%= link_to "Edit Clip", edit_video_path(video, lesson_id: @lesson.id) %> |
      <%= link_to "Delete Clip", video_path(video),
                                method: :delete,
                                data: {confirm: 'Are you sure?'} %>
    <% end %><br />
  <% end %>
</ul>
<%=link_to "Add Video Clip", new_video_path(lesson_id: @lesson.id), class: "btn btn-primary" %>

<hr />

<h3> Questions </h3><br />
<ul>
  <% @lesson.questions.order(:position).each do |question| %>
    <%= content_tag_for :li, question do %>
    <h3><span class="handle">[move]</span>
      <%= link_to truncate(question.question_text, length: 30), question_path(question) %> |
      <%= link_to "Edit", edit_question_path(question,lesson_id: @lesson.id) %> |
      <%= link_to "Delete", question_path(question),
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    <% end %><br />
  <% end %>
</ul>
 <%=link_to "Add New Question", new_question_path(lesson_id: @lesson.id), class: "btn btn-primary"  %>

