<h2><%= @lesson.title %></h2>
<ul class="question-list">
	<% @lesson.questions.order(:position).each do |question| %>
	<section class="lesson-box">
		<li class="question-section"id="question_<%=question.position%>">
				<div class="user-avatar">
						<%= image_tag @course.user.avatar_url(:profile) %><br />
						<% if @course.user.name %>
							<%= @course.user.name %> says:
						<% else %>
							<%= @course.user.username %> says:
						<% end %>
					</div>
					<div class="prompt">
				<h3><%= raw question.prompt %></h3>
			</div>
			<div class="question">
				<%= raw question.content %>
				<div id="check_answer_<%=question.id%>">
					<%= form_tag({action: 'check', controller: 'questions', id: question.id}) do %>
						<%= text_area_tag :response, "Enter your answer" %>
						<div class="submit-tag">
							<%= submit_tag("Submit Answer", class:'btn btn-large') %><br />
							<% end %>	
							<%= link_to 'I don\'t know. Show me a hint', '#' %>
						</div>
				</div>
				
			</div>
		</li>
	</section>
	<% end %>
</ul>
