<div class="coursenav">
	<h2>Course Content:</h2>
	<% @lesson.course.lessons.order(:position).each do |lesson| %>
	<ul>
		<li>Lesson <%= lesson.position %>: <%= link_to lesson.title, course_lesson_path(@lesson.course, lesson) %></li>
	</ul>
	<% end %>
	<% if current_user %>
		<% unless current_user && current_user.enrolled?(@course) %>
		<div id="enrollment_form" %>
					<%= simple_form_for(current_user.enrollments.build(enrolled_course_id: @course.id), remote: true) do |f| %>	
					<%= f.input :enrolled_course_id, as: :hidden %>
					<%= f.button :submit, "Enroll & Save Your Progress!", class: 'btn btn-success' %>
					<% end %>
				</div>
		<% end %>
	<% else %>
		<%= link_to 'Sign In or Sign Up to Save Your Progress', new_user_session_path, class: 'btn btn-success' %>
	<% end %>
</div>