<%= simple_form_for [@course, @lesson] do |f| %>

<h3> Title </h3>
<%= f.input :title, label: "Give the lesson a Title", input_html: {class: "input-xxlarge"} %>
<h3>Video URL </h3>
<%= f.input :video_url, label: "Enter the URL of a YouTube video.", input_html: {class: "input-xxlarge"} %>
<h3>Document </h3>
<%= f.input :document, input_html: {class: "input-xxlarge", rows:35}, label: "Enter lesson text" %>
<p class="muted"><%= render "shared/markdown_tip" %></p>
<hr />

<%= f.button :submit, "Save Lesson", class: 'btn btn-success' %>
<% end %>
