<h3> Add New Items to this Lesson: </h3><br />

<%=link_to "Add New Video Clip", new_video_path(lesson_id: @lesson.id), class: "btn btn-primary" %>
<%=link_to "Add New Check", new_ask_path(lesson_id: @lesson.id), class: "btn btn-primary" %>
<hr />

<h3> Rearrange or edit existing items </h3><br />

<ul id="item-list" data-update-url="<%=sort_lesson_items_url %>">
  <% @lesson.lesson_items.order(:position).each do |item| %>
    <%= content_tag(:li, class:'lesson_item', id: "lesson_item_#{item.id}") do %>
      <span class="handle">[move]</span>
      <%= item.position %> . <%= item.type %> |
      <%= link_to "Edit Item", edit_lesson_item_path(item.id, lesson_id: @lesson.id, type: item.type) %> |
      <%= link_to "Delete", lesson_item_path(item),
                                method: :delete,
                                data: {confirm: 'Are you sure?'} %>
    <% end %><br />
  <% end %>
</ul>




