<fieldset>
	<%= f.input :content, label: "Add a Question" %>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove Question", '#', class: "remove_fields" %>
	<p>
		<%= f.simple_fields_for :answers do |builder| %>
			<%= render 'answer_fields', f: builder %>
		<% end %>
		<%= link_to_add_fields "Add a Correct Answer", f, :answers %>
	</p>
	<p>
		<%= f.input :hint, label: "Add an optional hint" %>
</fieldset>