<h3> This lesson has <%=@lesson.questions.count %> total questions.</h3><br />

<%=link_to "Add New Question", new_question_path(lesson_id: @lesson.id), class: "btn btn-primary" %>
<hr />

<h3> All Questions: </h3>
 <% @lesson.questions.each do |q| %>
 <p>
 	<%= q.question_text %> |
 	<%= link_to "View", '#' %> |
 	<%= link_to "Edit", edit_question_path(q, lesson_id:@lesson.id) %> |
 	<%= link_to "Delete", question_path(q),
 												method: :delete,
 												data: {confirm: 'Are you sure?'} %>
 </p>
 <% end %>