<%= provide(:title, 'Finish ' + @lesson.title) %>
<%= render 'shared/course_intro' %><br />

<div class="share-lesson">
  <h2>
    Congratulations <%= current_user.try(:fname) %>! You've completed: <%= link_to @lesson.title, '#' %></h2>

    <h3> Liked this lesson? Tell your friends! </h3><br />
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="I have finished <%= @lesson.title %> of course <%= @lesson.course.title %> on CourseSky. You should try it! " data-url="<%= lesson_url(@lesson) %>" data-lang="en" data-size="large" data-count="none">Tweet</a>
  <div class="fb-like" data-send="true" data-width="450" data-show-faces="true" data-action="recommend" data-font="arial"></div>
 <hr />
  <h3> Ready for the Next Lesson?
  <%= link_to @lesson.next_lesson.title, lesson_activity_path(@lesson.next_lesson.lesson_activities.first) if @lesson.next_lesson %>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<% unless current_user %>
  <%= render "shared/authentication_dialog" %>
<% end %>