<% provide(:title, @lesson.title) %>
<div class="course-info">
	<h3><%= link_to @course.title, course_path(@course) %></h3> by <%= @course.user.name %><br />
		Lesson <%= @lesson.position %> of <%= @course.lessons.count %>
</div>
<section>
	<%= render 'question_nav' %>
</section>
<section>
	<%= render 'content' %>
</section>
<section>
	<%= render 'resources' %>
</section>
<% if @lesson.previous_lesson %>
	<%= link_to "<< Previous Lesson", course_lesson_path(@lesson.course.id, @lesson.previous_lesson) %>
<% end %>  

<% if @lesson.next_lesson %>
	<%= link_to "Next Lesson >>", course_lesson_path(@lesson.course.id, @lesson.next_lesson) %>
<% end %><br />
<%= link_to 'All Lessons in this Course', '#' %>



