<%= render 'shared/course_nav' %>
<%= render 'shared/activity_nav' %>
<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="watch-read" data-toggle="collapse" data-parent="#unit_accordion" href="#watch">
        <i class="icon-play-circle icon-large"></i>
      </a> 
      <a class="watch-read" data-toggle="collapse" data-parent="#unit_accordion" href="#read">
        <i class="icon-file-alt icon-large"></i>
      </a>
      </div>
      <div id="watch" class="collapse in">
        <div class="">
          	<iframe width="853" height="480" src="<%=@concept.video_clip_source%>" frameborder="1" allowfullscreen></iframe>
        </div>
      </div>
      <div id="read" class="collapse">
        <div class="accordion-inner">
          <%= markdown @concept.doc %>
        </div>
      </div>
    </div>
</div>
<div class="comment-section">
  <hr />
  <span class="ask"> Ask a question </span>
  <%= nested_comments @concept.comments.arrange %>
  <%= render 'shared/comments_form' %>
</div>
</div>