<div class="cover-image">
	<%= image_tag @course.cover_image_url(:box) %>
</div>
<h3><%= link_to @course.title, course_path %></h3> By <%= @course.user.username %>
<p>
	<h3>About This Course:</h3><br />
	<strong>Subject: </strong>
	<%= @course.subject.try(:name) %><br>
	<strong>Topics: </strong>
	<% @course.categories.each do |cat| %>
		<%= cat.name %>, 
	<% end %><br />
	<strong>Description: </strong>
	<%= raw @course.description %>
</p>


ENROLLMENT FORM
<p>
	<h3> People: </h3>
	This course has "X" <%= link_to "students", '#' %>
	<br />
</p>
<hr />