<div class="cover-image">
	<%= image_tag @course.cover_image_url(:box) %>
</div>
<h3><%= link_to @course.title, course_path %></h3> By <%= @course.user.username %>
<p>
	<h3>About This Course:</h3><br />
	<strong>Subject: </strong>
	<%= @course.subject.try(:name) %><br>
	<strong>Grade: </strong>
	<%= @course.grade_level.try(:name) %><br>
	<strong>Topics: </strong>
	<% @course.categories.each do |cat| %>
		<%= cat.name %>, 
	<% end %><br />
	<strong>Description: </strong>
	<%= raw @course.description %><br />
	<strong>Average Rating: </strong>
	<% if @course.rating %>
		<%= @course.rating %>, <%= link_to 'Read Reviews', course_reviews_path(course_id: @course.id) %>
	<% else %>
		<%= "No Reviews yet." %>
	<% end %>
</p>

<%= render 'enrollment_form' unless @course.user == current_user %>
<p>
	<h3> People: </h3>
	This course has <%= link_to pluralize(@course.students.count, 'student'), students_course_path %>
	<br />
</p>
<hr />