<%= simple_form_for @course do |f| %>
  <%= f.input :title, label: 'Give the course a title', input_html: {class: "input-xxlarge"} %>
  <%= f.input :cover_video, label: 'Add YouTube link for course intro video', input_html: {class: "input-xxlarge"} %>
  <%= f.input :description, input_html: {class: "input-xxlarge", rows:5}, label: "Enter course description" %>
	<p class="muted"><%= render "shared/markdown_tip" %></p>
  <%= f.input :cover_image, label: 'Upload course cover image' %>
  <hr />
  <%= f.button :submit, "Save Course", class: 'btn btn-success' %>
<% end %>
