<%= simple_form_for @course do |f| %>
	<%= f.input :title, label: 'Give the course a title' %>
	<%= f.input :description, label: 'Give the course a description' %>
	<%= f.input :cover_image, label: 'Upload a cover image for your course' %>
	<h4> What type of course is this? </h4>
	<%= f.association :categories, collection: Category.order(:name), label: 'Select categories' %>
	<%= f.association :grade_level, collection: GradeLevel.order.desc, label: 'Select grade', required: true %><br />
	<%= f.button :submit, "Save Course" %>
<% end %>