<%= simple_form_for @course do |f| %>
	<%= f.input :title, label: 'Provide a title for your course' %>
	<%= f.input :description, as: :ckeditor, label: 'Write a short description of what students will learn', input_html: {toolbar: 'Basic'} %>
	<%= f.input :cover_image, label: 'Upload a cover image for your course' %>
	<h4> What type of course is this? </h4>
	<%= f.association :categories, collection: Category.order(:name), label: 'Select categories' %>
	<%= f.association :grade_level, collection: GradeLevel.all, label: 'Select grade', required: true %><br />
	<%= f.button :submit, "Save Course Draft" %>
<% end %>