<p>
	<%= link_to 'Add New Unit', new_unit_path(course_id: @course.id), class: 'btn btn-large btn-primary' %>
</p>
<hr />
<p>
	<h2> Edit or rearrange existing units</h2>
	<ul id="units-list" data-update-url="<%= sort_units_url %>">
		<% @course.units.order(:position).each do |u| %>
			<%= content_tag_for :li, u do %>
				<h3><span class="handle">[move]</span>
					<%= u.title %> |
					<%= link_to 'Edit Unit', '#' %> |
					<%= link_to 'Delete Unit', '#' %>
				</h3>
			<% end %>
		<% end %><br />
</ul>
</p>