<h2><%= current_user.name.capitalize%>, here's how you're doing in <%= @course.title %>:</h2>

<ul>
	<li><%=current_user.completed_lessons(@course).count %> lessons complete (out of <%=@course.lessons.size%>)</li>
	<li> <%=current_user.quiz_count(@course)%> quizzes completed </li>
	<li><%=current_user.quiz_question_count(@course)%> questions answered</li>
</ul>

<hr />

<h2> Skills Report </h2>
<h4> All Skills in this Course </h4>

<% @course.skills.each do |s| %>
	<%= s.description %><br />
<% end %>

<hr />


<h3> Top 5 Skills Mastered</h3>

<br />

<h3> Top 5 Skills to Work On</h3>

<br />
