<%= provide(:title, 'Course Admin Area') %>

<h3> Manage Courses </h3><br />
<table border="1">
  <tr>
    <th> Course Name </th>
    <th> Author First Name </th>
    <th> Author Last Name </th>
    <th> Delete Course </th>
  </tr>
  <tr>
    <% @courses.each do |course| %>
    <td> <%= course.title %> </td>
    <td> <%= course.user.fname %> </td>
    <td> <%= course.user.lname %> </td>
    <td> <%= link_to "Delete", course_path(course),
                                method: :delete,
                                data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table>

