<%= provide(:title, 'Manage Course') %>
<ul class="nav nav-tabs">
	<li><a href="#info" data-toggle="tab">Course Information</a></li>
	<li><a href="#lessons" data-toggle="tab">Lessons & Questions</a></li>
	<li><a href="#status" data-toggle="tab">Status</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="info">
		<div class="course-div">
		<div id="cover-image">
			<%= image_tag @course.cover_image_url(:box) %>
		</div>
		<h1><%= @course.title %></h1>
		<h3>by: <%= link_to @course.user.username, user_path(@course.user) %></h3>
		<%= @course.description %><br />
		Grades: <%= @course.grade_level.name %> | 
		Subjects: <% @course.categories.each do |cat| %>
				<%= link_to cat.name, category_path(cat) %> 
			<% end %>
	</div>
		<%= link_to 'Edit Basic Information', edit_course_path, class: "btn btn-primary"  %>
		<%= link_to 'Delete Course', course_path(@course),
																		method: :delete,
																		data: {confirm: 'Are you sure?'},
																		class: "btn btn-danger" %>
	</div>
	<div class="tab-pane" id="lessons">
		<%= render 'lesson_list' %>
	</div>
	<div class="tab-pane" id="status">
		<%= render 'publish' %>
	</div>
</div>

