<%= provide(:title, @course.title) %>
<h1><%= @course.title %></h1>
<%= render 'progress' %>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h3>About This Course </h3>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Your Guide: <%= link_to @course.user.username, user_path(@course.user) %><br />
    <%= markdown @course.description %><br />
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <h3>Learn</h3>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <h4>Interactive lessons guided by your tutor:</h4><br />
        <%= link_to 'Start', '#', class:'btn' %><br />
        <%= render 'course_topics' %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <h3>Practice</h3>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
      	<h4>Test your skills with practice problems:</h4><br />
      	<%= link_to 'Start', '#', class:'btn' %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        <h3>Teach</h3>
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        Coming Soon: Show what you know by teaching your peers!
      </div>
    </div>
  </div>
</div>