<%= provide(:title, @course.title) %>
<%= render 'shared/course_intro' %>
<br />
<section>
  <div class="main-course-section">Introduction to Algebra</div>
	<div class="course-intro-video">
		<iframe width="853" height="480" src="<%=@course.video_source%>" frameborder="1" allowfullscreen></iframe>
	</div>
  <div class="course-description">
  	<div class="main-course-section"> About the Course</div>
      <%= markdown @course.description %>
  </div>
  <div class="course-instructors">
  	<div class="main-course-section">  About the Guide</div>
      <%= image_tag @course.user.avatar_url(:headshot) %><br />
      <%= markdown (truncate h(@course.user.about),
                       length: 500, 
                       omission: "...#{link_to'[more]',
                       user_path(@course.user), target: 'blank'}").html_safe %>
  </div>
</section>
