<%= provide(:title, @course.title) %>
<section>
<div class="course-description">
  <a class="accordion-toggle" data-toggle="collapse" href="#about-course">
    <h2>About <%= @course.title %></h2>
  </a>
  <div id="about-course" class="accordion-body collapse">
    <%= markdown @course.description %>
    <hr />
  </div>
</div>
<%= render 'progress' %>

<ul class="nav nav-tabs" id="course-sections">
  <li class="active"><a href="#lessons">Lessons</a></li>
  <li><a href="#practice">Practice</a></li>
  <li><a href="#projects">Projects</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="lessons">
    <%= render 'course_topics' %>
  </div>
  <div class="tab-pane" id="practice">
    <h2> Test your skills with practice questions. Prove what you know! Earn points! </h2><br />
    <%= link_to "Start Practicing Now", '#', class: 'btn btn-large btn-success' %>
  </div>
  <div class="tab-pane" id="projects">
    Coming Soon: Show what you know by teaching your peers!
  </div>
</div>

</section>
