<!-- starts footer -->

<div class="footer">
  <div class="container">
    <small>
      <a href="https://www.facebook.com/CourseSkyOnline" target="_blank">
        <i class="icon-facebook-sign icon-3x icon-footer"></i>
      </a>
      <a href="https://twitter.com/courseskyonline" target="_blank">
        <i class="icon-twitter-sign icon-3x icon-footer"></i>
      </a>
       <a href="http://www.youtube.com/coursesky" target="_blank">
        <i class="icon-play-circle icon-3x icon-footer"></i>
      </a>
    </small>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Pricing", '#' %></li>
      <li><a href="http://blog.coursesky.com/" target="_blank">Blog</a></li>
      <li><%= link_to "Join Us!", careers_path %></li>
      <li><a href="mailto:info@coursesky.com" target="_blank">Contact</a></li>
      <li><%= link_to "Terms", '#' %></li>
      <li>© 2013 CourseSky, Inc.</li>
      <li>
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">
        <img src="/assets/cc-by.png" />
        </a
      </li>
    </ul>
  </div>
</div>

