<footer class="footer">
  <small>
    Follow us on <a href="#">Facebook</a>, <a href="#">Twitter</a>, and <a href="#">YouTube</a> <br />
    © 2013 CourseSky, Inc.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Pricing", '#' %></li>
      <li><a href="#" target="_blank">Blog</a></li>
      <li><%= link_to "Join Us!", careers_path %></li>
      <li><a href="mailto:info@coursesky.com" target="_blank">Contact</a></li>
      <li><%= link_to "Terms", '#' %></li>
    </ul>
  </nav>
</footer>
