<header class="navbar navbar-fixed-top">
	<div class ="navbar-inner">
		<div class="container">
			<%= link_to image_tag("logo.png"), '/', id:"logo" %>
			<%= link_to "Learn", courses_path, class: "topbar" %>
			<%= link_to "Teach", teach_path, class: "topbar" %>
			<nav>
				<%= form_tag courses_path, class: "navbar-search",method: :get do %>
				<%= text_field_tag :query, params[:query], placeholder: "Search for courses" %>
				<%= submit_tag "Search", name: nil %>
				<% end %>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Help", '#' %></li>
					<% if user_signed_in? %>
						<li id="fat-menu" class="dropdown" %>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "My Courses", dashboard_user_path(current_user) %></li>
								<li><%= link_to "Profile", user_path(current_user) %></li>
								<li><%= link_to "Admin", admin_path if current_user.admin? %></li>
								<li class="divider"></li>
								<li>
									<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
								</li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to "Sign Up", new_user_registration_path %>
						<li><%= link_to "Sign In", new_user_session_path %>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>